
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: black;
  color: lime;
  font-family: sans-serif;
  text-align: center;
  touch-action: manipulation;
}

canvas {
  background: #111;
  border: 3px solid lime;
  margin: 20px auto;
  display: block;
}

.dark {
  background: #111;
  color: white;
}
.dark canvas {
  background: #222;
  border-color: white;
}
